/*	estilos generales
===========================================================*/
* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body {
	
	font-size: 16px;
	font-family: sans-serif;
}

header,
nav,
main,
aside,
section,
article,
footer {
	/* evitar problemas de compatibilidad */
	display: block;
}

.title-h2,
.title-h3,
.title-h5,
.fake-img {
	margin-bottom: 20px;
}


/*	HEADER
===========================================================*/
.header {
	display 				: flex;
	padding 				: 40px;
	text-align 			: center;
	color 					: #262626;
	background-color: #ffd36f;
}

.header__logo {
	width 					: 150px;
	height 					: 150px;
	background-color: #444;
	border-radius 	: 50%;
}

.header__title {
	flex: 1;
	align-self: center;
	/*mantener el titulo en el centro de la pantalla */
	margin-right: 10%;
}

/*	NAVIGATION BAR
===========================================================*/
.navigation {
	position 				: sticky;
	top 						: 0;
	background-color: #333;
}

.menu-nav {
	display 		: flex;
	align-items : center;
}

.menu-nav__item {
	width 		: 150px;
	list-style: none;
	text-align: center;
}

.menu-nav__link {
	display 				: block;
	width 					: 100%;
	padding-top 		: 15px;
	padding-bottom 	: 15px;
	text-decoration : none;
	color 					: #fff;
}

.menu-nav__link:hover {
	background-color: #ddd;
	color 					: #333;
}

/*	MAIN CONTENT
===========================================================*/
.main {
	display 	: flex;
	flex-wrap : wrap;
}

.side-content {
	flex 						: 1;
	padding 				: 1.3rem;
	background-color: #eee;
}

.main-content {
	flex 						: 3;
	padding 				: 1.3rem;
	background-color: #fafafa;
}

.fake-img {
	width: 100%;
	height: 150px;
	background-color: #aaa;
}

/*	FOOTER
===========================================================*/
.footer {
	padding 				: 20px;
	text-align 			: center;
	background-color: #ddd;
}

.footer__address {
	display: inline;
}

/*	MEDIA QUERIES
===========================================================*/
@media screen and (max-width: 768px) {
	.header {
		justify-content : center;
		padding 				: 25px;
	}

	.header__logo {
		width : 120px;
		height: 120px;
	}

	.header__title {
		flex 				: 0;
		margin-right: 0;
		margin-left : 5%;
	}

	.menu-nav { justify-content: center; }

	.side-content { flex: 2; }

}


