/*	estilos generales
===========================================================*/
* { 
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
}

body {
	
	font-size: 16px;
	font-family: sans-serif;
}

header,
nav,
main,
aside,
section,
article,
footer {
	/* evitar problemas de compatibilidad */
	display: block;
}

.title-h2,
.title-h3,
.title-h5,
.fake-img {
	margin-bottom: 20px;
}


/*	HEADER
===========================================================*/
.header {
	padding 				: 60px;
	text-align 			: center;
	color 					: #262626;
	background-color: #ffd36f;
}

/*	NAVIGATION BAR
===========================================================*/
.navigation {
	position 				: sticky;
	top 						: 0;
	background-color: #333;
}

.menu-nav {
	display 		: flex;
	align-items : center;
}

.menu-nav__item {
	width 		: 150px;
	list-style: none;
	text-align: center;
}

.menu-nav__link {
	display 				: block;
	width 					: 100%;
	padding-top 		: 15px;
	padding-bottom 	: 15px;
	text-decoration : none;
	color 					: #fff;
}

.menu-nav__link:hover {
	background-color: #ddd;
	color 					: #333;
}

/*	MAIN CONTENT
===========================================================*/
.main {
	display 	: flex;
	flex-wrap : wrap;
}

.side-content {
	flex 						: 1;
	padding 				: 1.3rem;
	background-color: #eee;
}

.main-content {
	flex 						: 3;
	padding 				: 1.3rem;
	background-color: #fafafa;
}

.fake-img {
	width: 100%;
	height: 150px;
	background-color: #aaa;
}

/*	FOOTER
===========================================================*/

/*	MEDIA QUERIES
===========================================================*/